
body {
    background-color: #e2e7ec;
    box-sizing: border-box;
}

main {
    width:100%;
    max-width: 1500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.big img {
   height: 540px; 
}
.big {
    margin: 10px;
    background-color: #e2e7ec;
}

.small img {
    height: 540px;
}
.small {
    margin: 10px;
    background-color: #e2e7ec;
    
}